[Desktop Entry]
Version=1.0
Name=Firefox Default Policy
Comment=Run Firefox with the default FUSE sandbox policy
Exec=gnome-terminal -- bash -c "python ./fuseSandbox/fuseSandbox.py "firefox" ./fuseSandbox/policies/firefox_policy.json ./fuseSandbox/fuse_mount --username melinoe --debug"
Icon=firefox
Terminal=true
Type=Application
Categories=Network;WebBrowser;
